@import "tailwindcss";

* {
  box-sizing: border-box;
}

html, body {
  margin : none;
  font-family : monospace;
  overflow-x : hidden;
  scrollbar-width : thin;
  scrollbar-color : hsl(0, 0%, 20%) hsl(0, 0%, 0%) ;
}


#root {
  min-height : 100dvh;
  margin : none;
  overflow-x : hidden;
  background-color : hsl(0, 0%, 0%);
}

@theme{
  --animate-travel : travel 1s linear infinite;

  @keyframes travel {
    100%{ transform :  translateX(100px)}
  }
}