@import "tailwindcss";

* {
  box-sizing: border-box;
}

html, body {
  margin : none;
  font-family : monospace;
  overflow-x : hidden;
  scrollbar-width : none;
  scrollbar-color : hsl(0, 0%, 0%) hsl(0, 0%, 0%) ;
}


#root {
  min-height : 100dvh;
  margin : none;
  overflow-x : hidden;
  background-color : hsl(0, 0%, 0%);
}

@keyframes grow-progress {
  from { transform: scaleX(0); }
  to { transform: scaleX(1); }
}

.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background: red; /* or any color */
  transform-origin: left;
  z-index : 50;

  animation: grow-progress auto linear;
  animation-timeline: scroll(root block);
}

