@import "tailwindcss";

* {
  box-sizing: border-box;
}

html, body {
  margin : none;
  font-family : monospace;
  scrollbar-width : none;
  scrollbar-color : hsl(0, 0%, 0%) hsl(0, 0%, 0%) ;
}


#root {
  min-height : 100dvh;
  margin : none;
  background-color : hsl(0, 0%, 0%);
}

@keyframes grow-progress {
  from { transform: scaleX(0); }
  to { transform: scaleX(1); }
}

